# The releng team is by default the owner of everything.
*             @eclipse-linuxtools/eclipsefdn-releng

# Otterdog related configurations are also owned by the security team.
/otterdog/**  @eclipse-linuxtools/eclipsefdn-security
